.vscode/*
debug
debug.test
coverage.txt
coverage.html
coverage.out
.DS_Store

# go-pry debug stuff
.main.gopry

# goreleaser distribution folder.
/dist/

# binary
goweb

# debug stuff
debug.test
goweb.test
goweb.prof
goweb.prof
