.vscode/*
debug
debug.test
coverage.txt
coverage.html
coverage.out
coverage/
.DS_Store

# go-pry debug stuff
.main.gopry

# goreleaser distribution folder.
/dist/

# binary
ong
ongExample

# debug stuff
debug.test
ong.test
ong.prof
ong.prof
vegeta_results*