.vscode/*
debug
debug.test
coverage.txt
coverage.html
coverage.out
.DS_Store

# go-pry debug stuff
.main.gopry

# goreleaser distribution folder.
/dist/

# binary
ong

# debug stuff
debug.test
ong.test
ong.prof
ong.prof
